[
  {
    elvis,
    [
      {config,
        [
          #{dirs => ["src", "test"],
            filter => "minuteman_*.erl",
            rules => [
            {elvis_style, max_function_length, #{max_length => 30}},
            {elvis_style, no_spec_with_records},
            {elvis_style, dont_repeat_yourself, #{min_complexity => 20}},
            {elvis_style, no_behavior_info},
            {elvis_style, used_ignored_variable},
            {elvis_style, nesting_level, #{level => 3}},
            {elvis_style, god_modules, #{limit => 25}},
            {elvis_style, no_if_expression},
            {elvis_style, line_length, #{limit => 120, count_comments => false}},
            {elvis_style, no_tabs},
            {elvis_style, no_trailing_whitespace},
            {elvis_style, macro_names},
            {elvis_style, macro_module_names},
            {elvis_style, operator_spaces, #{rules => [{right, ","}, {right, "++"}, {left, "++"}]}}
          ]
          }
        ]
      }
    ]
  }
].
