{dialyzer, [{warnings, [no_behaviours, race_conditions, error_handling]}]}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.
{erl_opts, [warnings_as_errors, debug_info, {parse_transform, lager_transform}]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, true}.

{deps, [
  {eper, ".*", {git, "https://github.com/massemanet/eper.git", {tag, "0.97.1"}}},
  {gen_netlink, ".*", {git, "https://github.com/mesosphere/gen_netlink.git", "multiqueue"}},
  {sync, ".*", {git, "git://github.com/rustyio/sync.git", "master"}},
  {lager, ".*", {git, "git://github.com/basho/lager", {tag, "3.2.1"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", master}},
  {pkt, ".*", {git, "https://github.com/msantos/pkt", "master"}},
  {meck, ".*", {git, "git://github.com/eproxus/meck", {tag, "0.8.3"}}},
  {lashup, ".*", {git, "git://github.com/dcos/lashup.git", master}},
  {eflame, ".*", {git, "https://github.com/slfritchie/eflame.git", master}},
  {exometer_core, ".*", {git, "git://github.com/Feuerlabs/exometer_core", {tag, "1.4"}}},
  {telemetry, ".*", {git, "git://github.com/dcos/telemetry-net.git", master}},
  {webmachine, ".*", {git, "git://github.com/webmachine/webmachine", master}},
  {dns, {git, "git://github.com/aetrion/dns_erlang.git", master}},
  {mesos_state, {git, "git://github.com/dcos/mesos_state", {branch, "fix-for-opendcos"}}}
]}.
{sub_dirs, ["rel"]}.

{plugins, [{pc, {git, "https://github.com/blt/port_compiler.git", {branch, "master"}}}, rebar3_hex]}.


{overrides, [
    {override, gen_socket,[
        {plugins, [pc]},
        {artifacts, ["priv/lib/gen_socket_nif.so", "priv/lib/gen_socket.so"]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]},
    {override, dns,
        [
            {plugins,[
                {provider_asn1, {git, "https://github.com/knusbaum/provider_asn1.git", {tag, "0.2.0"}}}
            ]},
            {provider_hooks, [
                {pre, [
                    {compile, {asn, compile}}
                ]},
                {post, [
                    {clean, {asn, clean}}
                ]}
            ]}
        ]
    }
]}.

{profiles, [
  {dev,
    [
      {deps, [
        {sync, ".*", {git, "https://github.com/rustyio/sync.git", master}}
      ]}
    ]},
  {test,
    [
      {deps, [
        {proper, ".*", {git, "https://github.com/manopapad/proper.git", master}}
      ]}
    ]},
  {prod,
    [
      {relx, [
        {dev_mode, false},
        {include_erts, true}
      ]}
    ]}
]}.

{relx,[
  {dev_mode, true},
  %% Mnesia isn't automatically added, because we don't put it in the .app.src
  %% We don't do that, because we don't want it started until after app initialization
  {release, {minuteman, "0.0.1"}, [minuteman, dns, eper, runtime_tools, eflame, debugger, observer, {mnesia, load}, {gen_netlink, load}]},
  {extended_start_script, true},
  {vm_args, "config/vm.args"},
  {sys_config, "./config/sys.config"},
  {overlay, [
    {mkdir, "log/sasl"},
    {mkdir, "data/"},
    {copy, "bin/minuteman-env", "bin"}
  ]}
]}.


