{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
    {gen_netlink, ".*", {git, "https://github.com/sargun/gen_netlink.git", "master"}},
    {sync, ".*", {git, "git://github.com/rustyio/sync.git", "master"}},
    {lager, ".*", {git, "git://github.com/basho/lager", {tag, "3.0.1"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", master}},
    {iptables, ".*", {git, "https://github.com/ekalinin/erlang-iptables", master}},
    {pkt, ".*", {git, "https://github.com/msantos/pkt", "master"}}
]}.
{sub_dirs, ["rel"]}.

