{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{eunit_opts, [{report, {eunit_surefire, [{dir, ".eunit"}]}}]}.

{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, true}.

{deps, [
  {gen_netlink, ".*", {git, "https://github.com/mesosphere/gen_netlink.git", "master"}},
  {sync, ".*", {git, "git://github.com/rustyio/sync.git", "master"}},
  {lager, ".*", {git, "git://github.com/basho/lager", {tag, "3.0.1"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", master}},
  {pkt, ".*", {git, "https://github.com/msantos/pkt", "master"}}
]}.
{sub_dirs, ["rel"]}.
