[
  %% SASL config
  {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
  {minuteman,
    [
      {master_uri, "http://leader.mesos:80/cache/master/state.json"},
      {enable_networking, true}
    ]
  },
  {kernel,
    [
      {start_pg2, true},
      {start_timer, true}
    ]
  },
  {lager, [
    {handlers, [
      {lager_console_backend, warning},
      {lager_file_backend, [{file, "error.log"}, {level, error}]}
      ]}
    ]
  },
  {lashup,
    [
      {work_dir, "/var/lib/dcos/minuteman/lashup"}
    ]
  },
  {mnesia,
    [
      {dir, "/var/lib/dcos/minuteman/mnesia"}
    ]
  },
  {mesos_state,
    [
      {ssl_token_file, "/run/dcos/etc/minuteman_auth.env"}
    ]
  }
].

