%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "minuteman", "1",
        [
         kernel,
         stdlib,
         sasl,
         minuteman
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "minuteman"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, lager, [{incl_cond, include}, {lib_dir, "../deps/lager"}]},
       {app, goldrush, [{incl_cond, include}, {lib_dir, "../deps/goldrush"}]},
       {app, pkt, [{incl_cond, include}, {lib_dir, "../deps/pkt"}]},
       {app, iptables, [{incl_cond, include}, {lib_dir, "../deps/iptables"}]},
       {app, jsx, [{incl_cond, include}, {lib_dir, "../deps/jsx"}]},
       {app, gen_netlink, [{incl_cond, include}, {lib_dir, "../deps/gen_netlink"}]},
       {app, gen_socket, [{incl_cond, include}, {lib_dir, "../deps/gen_socket"}]},
        {app, minuteman, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "minuteman"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "minuteman/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/minuteman", "bin/minuteman"},
           {copy, "files/minuteman.cmd", "bin/minuteman.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           %% Following line may be safely removed in new projects
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
